/* Diff between em and rem 
em is relative to the font-size of its nearest parent element.
rem is relative to the font-size of the root element (html).
*/

body {
    font-size: 16px; /* Base font size */
}
p {
    color: red;
}
p, div {
    border: 1px solid black;
}

#myDiv > p.mainClass {
    font-size: 1.5em; 
    color: blue;
}

div p {
    font-size: 1rem; 
    color: green;
}

input[type="text"].myClass {
    border: 2px solid blue;
    padding: 5px;
}   
div + span {
    font-weight: bold;
    color: purple;
}
p.myClass {
    text-decoration: underline;
    color: orange;
}
#myDiv {
    background-color: lightgray;
    padding: 10px;
}   
/*1-Make External CSS file for that:
a.Make the font type "Lucida Calligraphy" for any p or div or span tag (use one CSS rule).
b.<h1> tag which is child from div tag to be in the center of the page.*/

/*a*/
/* p, div, span {
    font-family: "Lucida Calligraphy", cursive;
}
div > p{
    text-align: center;         
} */

/*2-Make inline style for the div with "header" id, that make its width=100%, its height=60px, and its background color red.*/

/* #header {
    width: 100%;
    height: 60px;
    background-color: red;
} */

/*3-Make internal CSS for that:3-Make inline style for the span which its id is "linksbar" , that make its width=25%, its background color gray, and make it starts from the left of the page (float property).*/
#linksbar {
    width: 25%;
    background-color: gray;
    float: left;
}

/*4-Make inline style for the span which its id is "content", that make its width=75%, its height=70%, its back color pink, and make it comes to the left side after the previous span (float property).*/
#content {
    width: 75%;
    height: 70%;
    background-color: pink;
    float: left;
}
/*Make internal style that:a.Make a class name "none-bullet-list" that can be applied on <ul> tags, and makes  list style type of the <ul> without bullets (none), and apply this class on the <ul> tag that contains the links (apply it to the <ul> tag in html directly, the selector will be class name only).*/
.none-bullet-list {
    list-style-type: none;
}
/*b.Make color red, and background color pink for the links that're direct child for <li> tag, which inside span with id= "linksbar", and make it appear without underline (text-decoration property).*/
#linksbar ul li > a {
    color: red;
    background-color: pink;
    text-decoration: none;
}
/*c.Make color pink, and background color red for the links that're direct child for <li> tag, which ( inside span with id= "linksbar", when mouse is over it.*/
#linksbar ul li > a:hover {
    color: pink;
    background-color: red;
}
/*d.Make the font weight bold, and font size 12px, for the paragraph that comes directly after (sibling) <h2> tag which is direct child for <span> with id="content".*/
#content > h2 + p {
    font-weight: bold;
    font-size: 12px;
}
/*e.Make a dashed border, with size 2, and color rgb(20,70,60), for the div with id " loginform".*/
#loginform {
    border: 2px dashed rgb(20,70,60);
}
/*f.Make style that makes the background color yellow of the any <input> of type "text", and another style that makes its background color white when it's focused.*/
input[type="text"] {
    background-color: yellow;
}
/*g.Make a class named "tabled-bordered" that can be applied on any tag, and make it displayed as table cells (use display property), its padding 5, and make a border for it. Apply the class to the 3 <p> tags that are in the "titles" div (apply them on the p tags that are in "titles" div in html file, the selector will be class name only).*/
.tabled-bordered {
    display: table-cell;
    padding: 5px;
    border: 1px solid black;
}

/*i.Try to change the <p> tags inside the div with id "titles" to spans, is there any difference? */
/* No difference in styling, but spans are inline elements while p tags are block elements. */
/*h.Use ::after pseudo element, to add this text “Read this” with color yellow” after the paragraph that is nested from span.*/
#content > span p::after {
    content: " Read this";
    color: yellow;
}
/*Make an internal style that makes font color red for the <p> with id "aboutus", and another internal style that makes the color yellow for the <p> with id "aboutus" that's direct child from span with id "content".*/
#aboutus {
    color: red;
}
#content > #aboutus {
    color: yellow;
}
/*Which style will be applied to the paragraph? And why?*/
/* The second style will be applied because it is more specific,
 targeting the paragraph with id "aboutus" that is a direct child of the span with id "content". */
/*7-Use !important with the first style of the previous 2 styles. What's the change that happened and why?*/
/* The first style will now be applied because !important overrides other conflicting styles, regardless of specificity
. */
#aboutus {
    color: red !important;
}
#content > #aboutus {
    color: yellow;
}
/*The first style will now be applied because !important overrides other conflicting styles, regardless of specificity. */
